.mainNav
{
    background-color: #26A96C;
    color: #fff;
}

.btn-srch
{
    width: 50px !important;
}

.input-srch
{
    width: 25vw !important;
    border-color: #000;
}

.product-img
{
    height: 345px;
    width: 345px;
}

.btn-add,
.btn-minus
{
    height: 30px;
    width: 30px;
    padding: 0 !important;
    font-size: 15pt;
    font-weight: bold;
}

.profile-card
{
    margin-top: 13vh;
}

.photo-frame
{
    height: 390px;
    width:  390px;
    border: #D3D3D3 5px solid;
    border-radius: 100%;
}

.profile
{
    background-color: #D3D3D3;
}